
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 218 100% 96%;
    --foreground: 224 71.4% 4.1%;
    --card: 218 100% 99%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 218 100% 99%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 207 68% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216 60% 90%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 216 40% 94%;
    --muted-foreground: 225 8.3% 50%;
    --accent: 28 80% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 88%;
    --input: 214.3 31.8% 88%;
    --ring: 207 68% 53%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 13%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 13%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 28 80% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 28 80% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
